

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if favicon %}
        <link rel="shortcut icon" href="{{ favicon }}">
        {% else %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='sass/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton/css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='sass/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Untitled</title>
        {% endif %}
    </head>

    <body>
        <!-- Main Content -->
        <main>

            <!-- Header -->
            <header>
                <div class="header wrapper">
                    {% block auth %}
                    {% if current_user.is_authenticated %}
                    <span>Hi, {{ current_user.name }}. <a href="{{ url_for('authentication.logout') }}">Logout.</a></span>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('authentication.login') }}">Login</a>
                    {% endif %}
                    {% endblock %}
                </div>
            </header>

            <!-- Page Title Bar -->
            <div class="page-title wrapper">
                <p style="padding: 0; margin: 0;">Control Room</p>
            </div>

            <!-- Container -->
            <div class="flex-container wrapper">

                <!-- Sidebar GoTo Menu -->
                <aside class="sidebar">
                    <a href="#">Home</a>
                    <a href="#">Events</a>
                    <a href="#">News</a>
                    <a href="#">About Us</a>
                    <a style="flex: 1 1 auto;"></a>
                    <a href="#">My Account</a>
                    <a href="#">Contact Us</a>
                </aside>

                <!-- Container -->
                <div class="flex-container_inner">

                    <!-- Content -->
                    <section class="content">
                        <div class="wrapper">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script> <!-- jquery 3.6.0 -->
    </body>
</html>