{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}

<h2 class="text-center">Current Staff</h2>
<div class="card-container justify-center">
    {% for person in staff %}
    <div style="flex-basis: 300px;" class="card clean img">
        <!-- Grab artist headshot or placeholder if none -->
        <a class="circle" href="{{ url_for('bp_person.display_person', person_id=person.person_id) }}">
            <img height="40" width="40"
                {% if person.artist_id %}
                    src="{{ url_for('bp_person.static', filename=('images/headshots/' + get_headshot(person.artist_id))) }}"
                {%else%}
                    src="{{ url_for('bp_person.static', filename=('images/headshots/' + 'placeholder.jpg')) }}"
                {% endif %} />
        </a>
        <div class="card-wrapper">
            <h3 class="person-name no-margin-top no-margin-bottom">
                <a class="fancy-link" href="{{ url_for('bp_person.display_person', person_id=person.person_id) }}">{{ person.name }}</a>
            </h3>
            <p class="person-role no-margin-bottom"><span>{{ person.title }}</span></p>
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="text-center margin-top">Current Board</h2>
<div class="card-container justify-center">
    {% for person in board %}
    <div style="flex-basis: 300px;" class="card clean img">
        <!-- Grab artist headshot or placeholder if none -->
        <a class="circle" href="{{ url_for('bp_person.display_person', person_id=person.person_id) }}">
            <img height="40" width="40"
                {% if person.artist_id %}
                    src="{{ url_for('bp_person.static', filename=('images/headshots/' + get_headshot(person.artist_id))) }}"
                {%else%}
                    src="{{ url_for('bp_person.static', filename=('images/headshots/' + 'placeholder.jpg')) }}"
                {% endif %} />
        </a>
        <div class="card-wrapper">
            <h3 class="person-name no-margin-top no-margin-bottom">
                <a class="fancy-link" href="{{ url_for('bp_person.display_person', person_id=person.person_id) }}">{{ person.name }}</a>
            </h3>
            <p class="person-role no-margin-bottom"><span>{{ person.title }}</span></p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}



{% block styles %}
<style>

    .circle {
        line-height: 0;
        display: inline-block;
        border: 4px solid rgba(200,200,200,0.4);
        border-radius: 50%;
        transition: linear 0.25s;
        height: 40px;
        width: 40px;
        margin: 10px 20px;
    }
    .circle img {
        border-radius: 50%;
    }
    .circle:hover {
        transition: ease-out 0.2s;
        border: 4px solid #ff6d6d91;
        -webkit-transition: ease-out 0.2s;
    }
    a .circle {
        color: transparent;
    }
</style>
{% endblock %}