{% extends "base.html" %}
{% set active_page = "contact" %}

{% block content %}
<div id="contact-form" class="flex-row wrapper mt-3">
    <div class="flex-3">
        <h1 class="text-center h2 mb-3">Contact Us</h1>
        <p class="">
            Email us at <a class="fancy-link" href="mailto:info@queertk.org">info@queertk.org</a> or fill out the form on this page. Only the subject and message fields are required — if you choose not to provide a name and/or email, your message will be completely anonymous.
        </p>
    </div>
    <div class="spacer"></div>
    <form method="POST" action="{{ url_for('contact_us') }}" class="flex-4">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name(size=50) }}
        {{ form.email.label }} {{ form.email(size=120) }}
        {{ form.subject.label }} {{ form.subject(size=100) }}
        {{ form.message.label }} {{ form.message(size=500) }}
        <input class="mt-2" type="submit" value="Submit">
    </form>
</div>

{% endblock %}