{% extends "base.html" %}
{% set active_page = "events" %}

{% block content %}
<h3>Season 9</h3>


<div class="card-container margin-top margin-bottom">

    {% for prod in productions %}

    <div style="flex: 1 1 auto;" class="full-width card accent img">

        <!-- Production poster -->
        <a class="poster" href="{{ url_for('bp_production.display_production', prod_id=prod.production_id, slug=prod.slug) }}">
            <img height="150" {% if prod.poster
                %}src="{{ url_for('bp_production.static', filename=('images/posters/' + prod.poster)) }}"
                {%else%}src="{{ url_for('bp_production.static', filename=('images/posters/' + 'placeholder.jpg')) }}"
                {% endif %} />
        </a>

        <!-- Production title and director -->
        <div class="card-wrapper">

            <!-- Title and link -->
            <h3>
                <a class="fancy-link" href="{{ url_for('bp_production.display_production', prod_id=prod.production_id, slug=prod.slug) }}">{{ prod.title }}</a>
            </h3>

            <!-- Director and link -->
            <p class="director">
                {% for dir in directors %}
                    {% if dir.production_id == prod.production_id %}
                    Directed by <span><a class="fancy-link" href="{{ url_for('bp_person.display_artist', artist_id=dir.artist_id) }}">{{ dir.credit_name }}</a></span>
                    {% endif %}
                {% endfor %}
            </p>

            <!-- Production perf date range -->
            <p>
                {% for perf in performances %}
                    {% if perf.production_id == prod.production_id %}
                    Running {{ perf.open_date | format_date_short() }} through {{ perf.close_date | format_date_short() }}, {{ perf.close_date | format_date_year() }}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>

    {% endfor %}

</div>


{% endblock %}
