/* Code blocks */
code {
    vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
    font-size: 1.414rem;
}

/* Hug the block above you */
.hug {
    margin-top: 0;
}

.squeeze {
    margin-bottom: 0;
}