* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#main>content {
    flex: 1;
}

#main>nav,
#main>aside {
    background: beige;
}

#main>nav {
    order: -1;
}

header,
footer {
    background: yellowgreen;
    height: 20vh;
}

header,
footer,
content,
nav,
aside {
    padding: 1em;
}

@media screen and (min-width: 576px) {
    #main {
        flex-direction: row;
    }

    #main>nav,
    #main>aside {
        flex: 0 0 20vw;
    }
}

/* Setup */
html {
    /* Change default typefaces here */
    font-family: serif;
    font-size: 137.5%;
    -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

ul li,
ol li {
    line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}



/* Tables */
table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse;
}

table td,
table th {
    padding: 0;
    line-height: 33px;
}

/* Code blocks */
code {
    vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
    font-size: 1.414rem;
}

/* Hug the block above you */
.hug {
    margin-top: 0;
}

.squeeze {
    margin-bottom: 0;
}