<a class="fancy-link" href="{{ url_for('home') }}">Home</a>
<a class="fancy-link" href="{{ url_for('events') }}">Events</a>
<a class="fancy-link" href="{{ url_for('news') }}">News</a>
<a class="fancy-link" href="{{ url_for('about') }}">About</a>
<a class="fancy-link" href="#">Contact</a>
<a class="fancy-link" style="flex: 1 1 auto;"></a>
<a class="fancy-link" href="#">My Account</a>
<a class="fancy-link" href="{{ url_for('bp_management.dashboard') }}">Admin Portal</a>
<a class="fancy-link" data-a11y-dialog-show="about-site-dialog">About This Site</a>