{% extends "base.html" %}

{% block content %}
    <h2 class="mb-2">{{ artist.name }}</h2>
    {{ artist.biography | safe }}
    {% if credits %}
    <h3 id="artist-credits-title">Queer Theatre Credits</h3>
    <div id="artist-credits-mobile">
        <ul class="unstyled-list">
            {% for c in credits %}
            <li><a class="fancy-link" href="{{ url_for('bp_production.display_production', prod_id=c.production_id, slug=c.slug) }}">{{ c.title }}</a>, {{ c.role }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} 
{% endblock %}

{% block sidebar_image %}
    {% if artist.headshot %}
        <img class="shadow" src="{{ url_for('bp_person.static', filename='/images/headshots/' + artist.headshot) }}" id="headshot" alt="" srcset="">
    {% endif %}
{% endblock %}

{% block aside %}

    {% if credits %}
        <h3>Artist Credits</h3>
        <p class="mb-1"><i>at Queer Theatre Kalamazoo</i></p>
        {% for c in credits %}
        <a class="fancy-link" href="{{ url_for('bp_production.display_production', prod_id=c.production_id, slug=c.slug) }}">{{ c.title }}</a>, {{ c.role }}<br />
        {% endfor %} 
    {% endif %}

{%endblock%}