{% extends "base.html" %}

{% block content %}
    <h2>{{ artist.name }}</h2>
    {{ artist.biography | safe }}
{% endblock %}

{% block sidebar_image %}
    {% if headshot %}
        <img src="{{ url_for('bp_person.static', filename=headshot) }}" id="headshot" alt="" srcset="">
    {% endif %}
{% endblock %}

{% block aside %}

    {% if credits %}
        <h3 class="squeeze">Artist Credits</h3>
        <p class="hug"><i>at Queer Theatre Kalamazoo</i></p>
        {% for c in credits %}
        <a class="fancy-link" href="{{ url_for('bp_production.display_production', prod_id=c.production_id, slug=c.slug) }}">{{ c.title }}</a>, {{ c.role }}<br />
        {% endfor %} 
    {% endif %}

{%endblock%}