/*!
 * Primitive UI | MIT License
 *
 * A minimalist front-end design toolkit built with Sass for developing
 * responsive, browser-consistent web apps.
 *
 * Author: Tania Rascia <hello@taniarascia.com>
 * Source: https://github.com/taniarascia/primitive
 * Documentation: https://taniarascia.github.io/primitive
 */
/**
 * Variables
 *
 * The majority of the configuration for the toolkit.
 */
/**
 * Scaffolding
 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 "Jost", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  color: #1f1f1f;
  background: #f0f0f0;
  font-size: 1rem;
  margin: 0;
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 1.5rem 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

h1 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
}

p {
  font-size: clamp(1rem, 2vw + 1rem, 1.429rem));
}

a.fancy-link,
.link-like,
.post-content a,
.prod-content-wrapper a {
  position: relative;
  color: #a31800;
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

a.fancy-link:hover,
.link-like:hover,
.post-content a:hover,
.prod-content-wrapper a:hover {
  color: #570d00;
}

a.fancy-link:hover::before,
.link-like:hover::before,
.post-content a:hover::before,
.prod-content-wrapper a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

a.fancy-link::before,
.link-like::before,
.post-content a::before,
.prod-content-wrapper a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #570d00;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

a.fancy-link.active,
.link-like.active,
.post-content a.active,
.prod-content-wrapper a.active {
  color: #ff9a9a;
}

mark {
  background: #ffeea8;
  padding: 0 0.2rem;
}

blockquote {
  margin: 0 0 1.5rem 0;
  border-left: 16px solid #f0f0f0;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}

blockquote cite {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: right;
}

pre {
  border: 0;
  border-radius: 4px;
  background: transparent;
  padding: 1rem;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  color: #1f1f1f;
  font-family: Menlo, monospace;
  font-size: 14px;
  margin: 0 0 1.5rem 0;
}

pre code {
  font-family: Menlo, monospace;
  line-height: 1.2;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #dedede;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
}

.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

.container, .small-container, .medium-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  max-width: 800px;
}

.medium-container {
  max-width: 1000px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 980px;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

div.content-section {
  padding: 30px 0;
}

@media (min-width: 600px) {
  .content-section {
    padding: 60px 0;
  }
}

.info {
  background-color: #e4c0c0;
  border-radius: 4px;
  padding: 20px;
  border-left: 4px solid #7c1212;
}

/**
 * Grid
 */
.flex-small,
.flex-large {
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex-row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-small,
.flex-large {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 1rem;
}

/* Small screen breakpoint */
@media (min-width: 600px) {
  .flex-small {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
  .flex-small.half {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 2 * 100%);
            flex: 0 0 calc(1 / 2 * 100%);
  }
  .flex-small.one-fourth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 4 * 100%);
            flex: 0 0 calc(1 / 4 * 100%);
  }
  .flex-small.three-fourths {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(3 / 4 * 100%);
            flex: 0 0 calc(3 / 4 * 100%);
  }
  .flex-small.one-third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 3 * 100%);
            flex: 0 0 calc(1 / 3 * 100%);
  }
  .flex-small.two-thirds {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(2 / 3 * 100%);
            flex: 0 0 calc(2 / 3 * 100%);
  }
}

/* Large screen breakpoint */
@media (min-width: 1000px) {
  .flex-large {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
  .flex-large.half {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 2 * 100%);
            flex: 0 0 calc(1 / 2 * 100%);
  }
  .flex-large.one-fourth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 4 * 100%);
            flex: 0 0 calc(1 / 4 * 100%);
  }
  .flex-large.three-fourths {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(3 / 4 * 100%);
            flex: 0 0 calc(3 / 4 * 100%);
  }
  .flex-large.one-third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 3 * 100%);
            flex: 0 0 calc(1 / 3 * 100%);
  }
  .flex-large.two-thirds {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(2 / 3 * 100%);
            flex: 0 0 calc(2 / 3 * 100%);
  }
}

/**
 * Helpers
 */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: block;
}

.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.full-width {
  width: 100%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.padding-top {
  padding-top: 2rem;
}

.padding-bottom {
  padding-bottom: 2rem;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.alternate-background {
  background: #fafafa;
  color: #404040;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.gap-2 {
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

.shadow {
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
}

/**
 * Buttons
 */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #a31800;
  border-radius: 4px;
  background: #a31800;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.button:hover, a.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  border: 1px solid #701000;
  background: #701000;
  color: #ffffff;
  text-decoration: none;
}

.button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: 1px solid #701000;
  background: #701000;
  color: #ffffff;
  text-decoration: none;
}

.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.accent-button,
a.accent-button {
  color: #ffffff;
  border: 1px solid #5334a8;
  background: #5334a8;
}

.accent-button:hover, .accent-button:focus, .accent-button:active,
a.accent-button:hover,
a.accent-button:focus,
a.accent-button:active {
  color: #ffffff;
  border: 1px solid #402881;
  background: #402881;
}

.muted-button,
a.muted-button {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}

.muted-button:hover, .muted-button:focus, .muted-button:active,
a.muted-button:hover,
a.muted-button:focus,
a.muted-button:active {
  color: #1f1f1f;
  border: 1px solid #818181;
  background: transparent;
}

.round-button,
a.round-button {
  border-radius: 40px;
}

.square-button,
a.square-button {
  border-radius: 0;
}

.full-button,
a.full-button {
  display: block;
  width: 100%;
}

/**
 * Forms
 */
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: #f8f4f4;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
  border: 1px solid #c5c5c5;
}

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
  border: 1px solid #a31800;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #ff5a3d;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #ff5a3d;
}

textarea {
  overflow: auto;
  height: auto;
}

fieldset {
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 1rem;
  margin: 1.5rem 0;
}

legend {
  padding: 0 0.5rem;
  font-weight: 600;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1;
}

select::-ms-expand {
  display: none;
}

[type='range'] {
  width: 100%;
}

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 0.5rem;
}

@media (min-width: 600px) {
  .split-form label {
    text-align: right;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }
}

input.has-error, input.has-error:hover, input.has-error:focus, input.has-error:active,
select.has-error,
select.has-error:hover,
select.has-error:focus,
select.has-error:active,
textarea.has-error,
textarea.has-error:hover,
textarea.has-error:focus,
textarea.has-error:active {
  border: 1px solid #d33c40;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

input.is-success, input.is-success:hover, input.is-success:focus, input.is-success:active,
select.is-success,
select.is-success:hover,
select.is-success:focus,
select.is-success:active,
textarea.is-success,
textarea.is-success:hover,
textarea.is-success:focus,
textarea.is-success:active {
  border: 1px solid #29de7d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.contain-table {
  overflow-x: auto;
}

@media (min-width: 600px) {
  .contain-table {
    width: 100%;
  }
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #a31800;
}

.navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.navbar span {
  opacity: 35%;
}

.navbar a {
  color: #f1f1f1;
  font-weight: 600;
}

.navbar a:hover {
  color: #dad0d0;
}

.navbar a::before {
  background-color: #dad0d0;
}

.logo-circle {
  line-height: 0;
  display: inline-block;
  border: 4px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  -webkit-transition: linear 0.25s;
  transition: linear 0.25s;
  height: 2.5rem;
  width: 2.5rem;
  margin: 10px 20px;
  background-image: url("/static/images/logo-circle.png");
  background-position: center;
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
}

.logo-circle:hover {
  transition: ease-out 0.2s;
  border: 4px solid #ff6d6d91;
  -webkit-transition: ease-out 0.2s;
}

.dialog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.dialog-container[aria-hidden='true'] {
  display: none;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(43, 46, 56, 0.9);
  -webkit-animation: fade-in 200ms both;
          animation: fade-in 200ms both;
}

.dialog-content {
  background-color: rgba(255, 255, 255, 0.877);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: auto;
  z-index: 2;
  position: relative;
  -webkit-animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
          animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
  padding: 1em;
  max-width: 90%;
  width: 750px;
  border-radius: 4px;
  border-top: 2rem solid #a31800;
}

.dialog-content.center {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .dialog-content {
    padding: 2em;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

.dialog h1 {
  margin: 0;
  font-size: 1.25em;
}

.dialog-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.5em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  color: #000;
}

@media screen and (min-width: 700px) {
  .dialog-close {
    top: 1em;
    right: 1em;
  }
}

div.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
}

div.card-container .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 4px;
}

div.card-container .card .card-wrapper {
  text-align: left;
  padding: 1rem;
}

div.card-container .card.primary {
  background-color: #e4c0c0;
  border-left: 4px solid #a31800;
}

div.card-container .card.secondary {
  background-color: #cbc0e4;
  border-left: 4px solid #5334a8;
}

div.card-container .card.accent {
  background-color: #e4e3e3;
  border-left: 4px solid #cdcdcd;
}

div.card-container .card.clean {
  background-color: transparent;
  border: 1px solid #cdcdcd;
}

div.card-container .card.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#index-welcome {
  margin: 4rem 0;
}

#poster,
#headshot {
  width: 100%;
  border-radius: 4px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

a.poster img {
  margin-left: 1rem;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/**
 * Layout
 */
@media only screen and (max-width: 800px) {
  div.sidebar,
  .breadcrumbs {
    display: none;
  }
}

#artist-credits-mobile,
#artist-credits-title {
  display: block;
}

@media only screen and (min-width: 800px) {
  #artist-credits-mobile,
  #artist-credits-title {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  #header-brand {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */