@charset "UTF-8";
/*!
 * Primitive UI | MIT License
 *
 * A minimalist front-end design toolkit built with Sass for developing
 * responsive, browser-consistent web apps.
 *
 * Author: Tania Rascia <hello@taniarascia.com>
 * Source: https://github.com/taniarascia/primitive
 * Documentation: https://taniarascia.github.io/primitive
 */
/**
 * Variables
 *
 * The majority of the configuration for the toolkit.
 */
/**
 * Scaffolding
 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 "Jost", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  color: #e9e9e9;
  background: white;
  font-size: 1rem;
  margin: 0;
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 1.5rem 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: "Domine", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #e9e9e9;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin: 1.5rem 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

@media (min-width: 600px) {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
}

a.fancy-link,
.link-like,
.post-content a,
.prod-content-wrapper a {
  position: relative;
  color: #efabab;
  text-decoration: none;
}

a.fancy-link:hover,
.link-like:hover,
.post-content a:hover,
.prod-content-wrapper a:hover {
  color: #cf7272;
}

a.fancy-link:hover::before,
.link-like:hover::before,
.post-content a:hover::before,
.prod-content-wrapper a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

a.fancy-link::before,
.link-like::before,
.post-content a::before,
.prod-content-wrapper a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d48f8f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

mark {
  background: #ffeea8;
  padding: 0 0.2rem;
}

blockquote {
  margin: 0 0 1.5rem 0;
  border-left: 16px solid #f0f0f0;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}

blockquote cite {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: right;
}

pre {
  border: 0;
  border-radius: 4px;
  background: transparent;
  padding: 1rem;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  color: #e9e9e9;
  font-family: Menlo, monospace;
  font-size: 14px;
  margin: 0 0 1.5rem 0;
}

pre code {
  font-family: Menlo, monospace;
  line-height: 1.2;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #dedede;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
}

.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

.container, .small-container, .medium-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  max-width: 800px;
}

.medium-container {
  max-width: 1000px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1120px;
  padding-right: 2rem;
  padding-left: 2rem;
}

div.content-section {
  padding: 30px 0;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 0 10px;
          box-shadow: inset 0 0 0 10px;
}

div.scrollbar {
  overflow: auto;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

@media (min-width: 600px) {
  .content-section {
    padding: 60px 0;
  }
}

#content {
  width: 100%;
}

#content .info {
  background: #43434380;
  border-radius: 4px;
  padding: 20px;
}

#content.background {
  background: #111111;
  -webkit-box-flex: 14;
      -ms-flex: 14;
          flex: 14;
}

#content .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#content .grow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#content .sidebar {
  min-width: 35%;
  max-width: 35%;
  margin-left: 2rem;
}

/**
 * Grid
 */
.flex-small,
.flex-large {
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex-row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-small,
.flex-large {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 1rem;
}

/* Small screen breakpoint */
@media (min-width: 600px) {
  .flex-small {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
  .flex-small.half {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 2 * 100%);
            flex: 0 0 calc(1 / 2 * 100%);
  }
  .flex-small.one-fourth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 4 * 100%);
            flex: 0 0 calc(1 / 4 * 100%);
  }
  .flex-small.three-fourths {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(3 / 4 * 100%);
            flex: 0 0 calc(3 / 4 * 100%);
  }
  .flex-small.one-third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 3 * 100%);
            flex: 0 0 calc(1 / 3 * 100%);
  }
  .flex-small.two-thirds {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(2 / 3 * 100%);
            flex: 0 0 calc(2 / 3 * 100%);
  }
}

/* Large screen breakpoint */
@media (min-width: 1000px) {
  .flex-large {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
  .flex-large.half {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 2 * 100%);
            flex: 0 0 calc(1 / 2 * 100%);
  }
  .flex-large.one-fourth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 4 * 100%);
            flex: 0 0 calc(1 / 4 * 100%);
  }
  .flex-large.three-fourths {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(3 / 4 * 100%);
            flex: 0 0 calc(3 / 4 * 100%);
  }
  .flex-large.one-third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(1 / 3 * 100%);
            flex: 0 0 calc(1 / 3 * 100%);
  }
  .flex-large.two-thirds {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(2 / 3 * 100%);
            flex: 0 0 calc(2 / 3 * 100%);
  }
}

/**
 * Helpers
 */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: block;
}

.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.padding-top {
  padding-top: 2rem;
}

.padding-bottom {
  padding-bottom: 2rem;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.alternate-background {
  background: #fafafa;
  color: #404040;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/**
 * Buttons
 */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #a31800;
  border-radius: 4px;
  background: #a31800;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.button:hover, a.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  border: 1px solid #701000;
  background: #701000;
  color: #ffffff;
  text-decoration: none;
}

.button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: 1px solid #701000;
  background: #701000;
  color: #ffffff;
  text-decoration: none;
}

.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.accent-button,
a.accent-button {
  color: #ffffff;
  border: 1px solid #543a9b;
  background: #543a9b;
}

.accent-button:hover, .accent-button:focus, .accent-button:active,
a.accent-button:hover,
a.accent-button:focus,
a.accent-button:active {
  color: #ffffff;
  border: 1px solid #402c76;
  background: #402c76;
}

.muted-button,
a.muted-button {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #ffffff;
}

.muted-button:hover, .muted-button:focus, .muted-button:active,
a.muted-button:hover,
a.muted-button:focus,
a.muted-button:active {
  color: #dfdfdf;
  border: 1px solid #818181;
  background: transparent;
}

.round-button,
a.round-button {
  border-radius: 40px;
}

.square-button,
a.square-button {
  border-radius: 0;
}

.full-button,
a.full-button {
  display: block;
  width: 100%;
}

/**
 * Forms
 */
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: #f8f4f4;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
  border: 1px solid #c5c5c5;
}

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
  border: 1px solid #a31800;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #ff5a3d;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #ff5a3d;
}

textarea {
  overflow: auto;
  height: auto;
}

fieldset {
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 1rem;
  margin: 1.5rem 0;
}

legend {
  padding: 0 0.5rem;
  font-weight: 600;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1;
}

select::-ms-expand {
  display: none;
}

[type='range'] {
  width: 100%;
}

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 0.5rem;
}

@media (min-width: 600px) {
  .split-form label {
    text-align: right;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }
}

input.has-error, input.has-error:hover, input.has-error:focus, input.has-error:active,
select.has-error,
select.has-error:hover,
select.has-error:focus,
select.has-error:active,
textarea.has-error,
textarea.has-error:hover,
textarea.has-error:focus,
textarea.has-error:active {
  border: 1px solid #d33c40;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

input.is-success, input.is-success:hover, input.is-success:focus, input.is-success:active,
select.is-success,
select.is-success:hover,
select.is-success:focus,
select.is-success:active,
textarea.is-success,
textarea.is-success:hover,
textarea.is-success:focus,
textarea.is-success:active {
  border: 1px solid #29de7d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.contain-table {
  overflow-x: auto;
}

@media (min-width: 600px) {
  .contain-table {
    width: 100%;
  }
}

/*
 * Navigation
 */
.navigation {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background: #080808;
  width: 20rem;
}

.navigation .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.navigation .sidebar a {
  margin: 1.25em 0 0 0;
  font-size: clamp(1.1em, 2.1vw, 1.3em);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#sidebar-toggle {
  background-color: orange;
  border-radius: 50%;
  display: block;
  height: 2.2rem;
  left: 1rem;
  position: absolute;
  text-decoration: none;
  top: 18px;
  width: 2.2rem;
}

#sidebar-toggle::after {
  content: "🡐";
  color: white;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: -.2rem 0 0 0;
  text-align: center;
}

.no-sidebar #sidebar-toggle::after {
  content: "🡒";
  margin-left: .2rem;
}

#sidebar-toggle:hover {
  background-color: goldenrod;
}

aside.no-sidebar {
  display: none;
}

aside.no-sidebar #content {
  width: 100%;
}

/**
 * Layout
 */
.dialog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.dialog-container[aria-hidden='true'] {
  display: none;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(43, 46, 56, 0.9);
  -webkit-animation: fade-in 200ms both;
          animation: fade-in 200ms both;
}

.dialog-content {
  background-color: rgba(29, 29, 29, 0.555);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  margin: auto;
  z-index: 2;
  position: relative;
  -webkit-animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
          animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
  padding: 1em;
  max-width: 90%;
  width: 750px;
  border-radius: 4px;
  border-top: 2rem solid #a31800;
}

.dialog-content.center {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .dialog-content {
    padding: 2em;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

.dialog h1 {
  margin: 0;
  font-size: 1.25em;
}

.dialog-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.25em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

@media screen and (min-width: 700px) {
  .dialog-close {
    top: 1em;
    right: 1em;
  }
}

/**
 * Variables
 *
 * The majority of the configuration for the toolkit.
 */
.badge {
  padding: 3px 6px;
  margin: 0 4px;
  border-radius: 4px;
  background: #a31800;
  color: #fff;
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.badge img {
  display: inline-block;
  vertical-align: middle;
}

header {
  background: #111111;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header span {
  color: #fff;
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #a31800;
  height: 50px;
  text-size: 0.65rem;
  color: #ffffffb4;
}

.flex-container {
  height: calc(100vh - 118px);
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

@media screen and (min-width: 640px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .sidebar {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Hug the block above you */
.hug {
  margin-top: 0;
}

/* Squeeze the block beneath you */
.squeeze {
  margin-bottom: 0;
}

#avatar {
  background-image: url("../images/avatar.jpg");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
}

#poster,
#headshot {
  background-size: contain;
  background-position: center center;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.logo-circle {
  line-height: 0;
  display: inline-block;
  border: 4px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  -webkit-transition: linear 0.25s;
  transition: linear 0.25s;
  height: 40px;
  width: 40px;
  margin: 10px 20px;
}

.logo-circle img {
  border-radius: 50%;
}

.logo-circle:hover {
  transition: ease-out 0.2s;
  border: 4px solid #ff6d6d91;
  -webkit-transition: ease-out 0.2s;
}

a .logo-circle {
  color: transparent;
}
/*# sourceMappingURL=main.css.map */