@import "base/variables"

// html
//     background: url("../background.jpg") no-repeat center center fixed
//     -webkit-background-size: cover
//     -moz-background-size: cover
//     -o-background-size: cover
//     background-size: cover

// body
//     // overflow: hidden
//     height: 100%
//     margin: 0
//     padding: 0

aside
    margin: 0
    padding: 20px

    a
        user-select: none

.badge
    padding: 3px 6px
    margin: 0 4px
    border-radius: $fg-corner-radius
    background: $primary-color
    color: #fff
    font-size: 0.8rem
    user-select: none

    img
        display: inline-block
        vertical-align: middle

header
    background: $bg-dark
    // padding: 15px
    // height: 30px

    .header
        display: flex
        flex-direction: row
        align-items: center

        span
            color: #fff

.page-title
    display: flex
    justify-content: center
    align-items: center
    background: $theme-primary
    height: $page-title-height
    text-size: 0.65rem
    color: #ffffffb4

// .flex
//     display: flex
//     width: 100%
// 
//     .column
//         flex-direction: column

// .wrapper
//     margin: auto

.flex-container
    height: calc(100vh - 118px)
    margin: auto
    flex: 1 100%

@media screen and (min-width: 640px)
    .flex-container
        display: flex

@media screen and (max-width: 640px)
    .sidebar
        display: none

@keyframes fade-in
    from
        opacity: 0

    to
        opacity: 1

@keyframes fade-out
    from
        opacity: 1

    to
        opacity: 0

/* Hug the block above you */
.hug
    margin-top: 0

/* Squeeze the block beneath you */
.squeeze
    margin-bottom: 0

#avatar
    background-image: url('../images/avatar.jpg')
    width: 30px
    height: 30px
    background-size: cover
    background-position: center center
    border-radius: 50px

#poster,
#headshot
    // background-image: url('../images/poster.png')
    background-size: contain
    background-position: center center
    height: 100%
    width: 100%
    // max-height: calc(100vh - 120px)
    border-radius: 4px
    margin-bottom: 10px
    // padding: 20px

.circle
    line-height: 0        // remove line-height */
    display: inline-block    // circle wraps image */
    // margin: 5px
    border: 4px solid rgba(200,200,200,0.4)
    border-radius: 50%    /* relative value */
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
    transition: linear 0.25s
    height: 40px
    width: 40px
    margin: 10px 20px

    img
        border-radius: 50%

    &:hover
        transition: ease-out 0.2s
        border: 4px solid #ff6d6d91
        -webkit-transition: ease-out 0.2s

a
    .circle
        color: transparent