#poster,
#headshot
    // background-image: url('../images/poster.png')
    // background-size: contain
    // background-position: center center
    width: 100%
    // max-height: calc(100vh - 120px)
    border-radius: 4px
    object-fit: scale-down
    // padding: 20px

a.poster img
    margin-left: 1rem

.sidebar
    display: flex
    flex-direction: column