#headshot,
#poster
    // background-image: url('../images/poster.png')
    // background-size: contain
    // background-position: center center
    width: 100%
    // max-height: calc(100vh - 120px)
    border-radius: 4px
    object-fit: scale-down
    // padding: 20px


a.poster img
    @include shadow
    margin-left: 1rem
    border-radius: 4px

.sidebar
    display: flex
    flex-direction: column

#news-list .card
    @include margin-center
    max-width: 650px