/**
 * Layout
 */

// Hide when under 800px
div.sidebar, // Content area sidebar i.e. /production, /artist
#brand-name, // QTK name in header
.navbar, // Horizontal subheader navigation
a.poster, // I think in /news?
#contact-form .spacer
    @media only screen and (max-width: 800px)
        display: none

// Show when under 800px
#mb_prod-poster // Production poster in body when sidebar disappears
    @include margin-center
    display: block
    width: 60vw

    // Hide when over 800px
    @media only screen and (min-width: 800px)
        display: none
        width: 90vw


// Show when over 800px
#artist-credits-mobile,
#artist-credits-title,
#nav-menu-trigger
    display: block
    
    @media only screen and (min-width: 800px)
        display: none

// Center when under 800px
#header-brand
    @media only screen and (max-width: 800px)
        background-color: $primary-color

#contact-form
    @media only screen and (max-width: 800px)
        flex-direction: column
