header
    .header
        display: flex
        flex-direction: row
        align-items: center
        position: relative

.navbar
    background: $primary-color

    .wrapper
        display: flex
        justify-content: center
        align-items: center
        height: 3rem
        column-gap: 1em

    span
        opacity: 35%

    a
        color: #f1f1f1
        font-weight: 600

        &:hover
            color: #dad0d0

        &::before
            background-color: #dad0d0

.logo-circle
    line-height: 0 // remove line-height */
    display: inline-block // circle wraps image */
    // margin: 5px
    border: 4px solid rgba(200,200,200,0.4)
    border-radius: 50% /* relative value */
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
    transition: linear 0.25s
    height: 2.5rem
    width: 2.5rem
    margin: 10px 20px
    background-image: url("/static/images/logo-circle.png")
    background-position: center
    background-size: 2.5rem 2.5rem
    background-repeat: no-repeat

    &:hover
        transition: ease-out 0.2s
        border: 4px solid #b66f6f
        -webkit-transition: ease-out 0.2s
