/*
 * Navigation
 */

.navigation
    display: flex
    flex: 3
    flex-direction: column
    align-items: center
    background: $bg-dark-blur
    backdrop-filter: blur(15px)
    width: 20rem
    //max-height: calc(100vh - 110px)
    overflow: hidden

    a
        margin: auto 0
        height: 2.5rem
        font-size: clamp(1.1em, 2.1vw, 1.3em)
        align-content: center