{% extends "base.html" %}

{% block content %}
<h1>{{ production.title }}</h1>
<p class="production-director">Directed by <a class="fancy-link" href="{{ url_for('bp_person.display_artist', artist_id=director.artist_id) }}">{{ director.credit_name }}</a></p>
<div>
    <a class="button round-button muted-button" data-a11y-dialog-show="cast-crew-dialog">Production Credits</a>
    {% if production.ploxel_iframe %}
    <a class="button round-button accent-button" data-a11y-dialog-show="ploxel-dialog">Get Tickets</a>
    {% endif %}
</div>
<div class="production-body-content">
    
    {% if notices %}
    <h2>Notices</h2>
    <div class="accordion-body margin-top">
        <div class="accordion">
            {% for pt, notice, notice_type in notices %}
            <div class="prod-content-container">
                <div class="label">{{ notice_type.description }}</div>
                <div class="prod-content">{{ notice.content | safe }}</div>
            </div>
            <!-- # {{ '<hr \>'|safe if not loop.last }} -->
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <h2>Description</h2>
    <span class="prod-content-wrapper">{{ production.description | safe }}</span>
</div>


<!--Accessible modals per WAI Aria https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/dialog.html-->
<div class="dialog-container" id="cast-crew-dialog" aria-hidden="true" aria-labelledby="cast-crew-title"
    aria-describedby="cast-crew-description">
    <div class="dialog-overlay" data-a11y-dialog-hide></div>
    <div class="dialog-content center" role="document">
        <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>
        {% if cast %}
        <h2>Cast</h2>
        <div class="card-container text-center justify-center">
            {% for person in cast %}

            <div class="card clean {% if person.artist_id %}img{% endif %}">
                <!-- Grab artist headshot or placeholder if none -->
                {% if person.artist_id %}
                <a class="circle"
                    href="{{ url_for('bp_person.display_artist', artist_id=person.artist_id, slug=person.slug) }}">
                    <img height="40" width="40" {% if person.headshot
                        %}src="{{ url_for('bp_person.static', filename=('images/headshots/' + person.headshot)) }}"
                        {%else%}src="{{ url_for('bp_person.static', filename=('images/headshots/' + 'placeholder.jpg')) }}"
                        {% endif %} />
                </a>
                {% endif %}
                <div class="card-wrapper">
                    <p class="person-name no-margin-bottom">
                        {% if person.artist_id %}
                        <a class="fancy-link"
                            href="{{ url_for('bp_person.display_artist', artist_id=person.artist_id, slug=person.slug) }}">{{
                            person.credit_name }}
                        </a>
                        {% else %}
                        {{ person.credit_name }}
                        {% endif %}
                    </p>
                    <p class="person-role">as <span>{{ person.role }}</span></p>
                </div>
            </div>

            {% endfor %}
        </div>
        {% endif %}

        {% if crew %}
        <h2>Crew</h2>
        <div class="card-container text-center justify-center">
            {% for person in crew %}
            <div class="card clean {% if person.artist_id %}img{% endif %}">
                <!-- Grab artist headshot or placeholder if none -->
                {% if person.artist_id %}
                <a class="circle"
                    href="{{ url_for('bp_person.display_artist', artist_id=person.artist_id, slug=person.slug) }}">
                    <img height="40" width="40" {% if person.headshot
                        %}src="{{ url_for('bp_person.static', filename=('images/headshots/' + person.headshot)) }}"
                        {%else%}src="{{ url_for('bp_person.static', filename=('images/headshots/' + 'placeholder.jpg')) }}"
                        {% endif %} />
                </a>
                {% endif %}
                <div class="card-wrapper">
                    <p class="person-name no-margin-bottom">
                        {% if person.artist_id %}
                        <a class="fancy-link"
                            href="{{ url_for('bp_person.display_artist', artist_id=person.artist_id, slug=person.slug) }}">{{
                            person.credit_name }}
                        </a>
                        {% else %}
                        <em>{{ person.credit_name }}</em>
                        {% endif %}
                    </p>
                    <p class="person-role"><span>{{ person.role }}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="dialog-container" id="ploxel-dialog" aria-hidden="true" aria-labelledby="ploxel-title"
aria-describedby="ploxel-description">
    <div class="dialog-overlay" data-a11y-dialog-hide></div>
    <div class="dialog-content center" role="document">
        {% if production.ploxel_iframe %}
        {{ production.ploxel_iframe | safe }}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block sidebar_image %}
{% if poster %}
<img class="shadow" src="{{ url_for('bp_production.static', filename=poster) }}" id="poster" alt="" srcset="">
{% else %}
<img src="{{ url_for('bp_production.static', filename='/images/posters/placeholder.jpg') }}" id="poster" alt="" srcset="">
{% endif %}
{% endblock %}

{% block aside %}
{% if performances %}
<h4 class="hug">Performances:</h4>
{% endif %}
<ul class="unstyled-list">
    {% for p in performances %}
    <span>
        <li>{{ p.datetime|format_datetime() }}</li>
    </span>
    {% endfor %}
</ul>

<p>
    Proof of vaccination is required for all Queer Theatre Kalamazoo events. Masks must be worn over the mouth and nose
    in
    any indoor space. Our actors can present this play unmasked due to these efforts. Thank you for helping keep the
    community safe and performing live again.
</p>
{% endblock %}

{% block styles %}
<style>
    p.production-director {
        font-size: 1.3rem;
    }

    div.cast-crew-container {
        margin: 30px auto;
        padding: 0 20px;
        display: grid;
        /* Define Auto Row size */
        grid-auto-rows: 100px;
        /*Define our columns */
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1em;
    }

    div.block {
        display: flex;
        align-items: center;
        vertical-align: middle;
        padding: 5px;
        background-color: #e4c0c0;
        border-radius: 2px;
        border-left: 4px solid rgb(124, 18, 18);
    }

    div.block a.circle {
        margin: 0 20px 0 20px;
    }

    div.block-wrapper {
        text-align: left;
    }

    h5.person-name {
        font-size: 1.2rem;
        margin: 0 0 0.25rem 0;
    }

    p.person-role {
        margin: 0;
    }

    p.person-role>span {
        font-style: italic;
    }




    .circle {
        line-height: 0;
        display: inline-block;
        border: 4px solid rgba(200, 200, 200, 0.4);
        border-radius: 50%;
        transition: linear 0.25s;
        height: 40px;
        width: 40px;
        margin-left: 10px;
    }

    .circle img {
        border-radius: 50%;
    }

    .circle:hover {
        transition: ease-out 0.2s;
        border: 4px solid #ff6d6d91;
        -webkit-transition: ease-out 0.2s;
    }

    a .circle {
        color: transparent;
    }



    

    .accordion {
        /* width: 800px;
        margin: 90px auto; 
        color: black;
        background-color: white;
        padding: 45px 45px;*/
    }
    
    .accordion .prod-content-container {
        position: relative;
        margin-bottom: 10px;
        background-color: #e4c0c0;
        border-radius: 4px;
        padding: 0.25rem 1.5rem;
        border-left: 4px solid rgb(124, 18, 18);
    }
    
    .accordion .label {
        position: relative;
        padding: 10px 0;
        cursor: pointer;
        font-weight: 700;
    }
    
    .accordion .label::before {
        content: '+';
        position: absolute;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
    }
    
    .accordion .prod-content {
        position: relative;
        height: 0;
        text-align: left;
        /* width: 780px; */
        overflow: hidden;
    }
    
    .accordion .prod-content-container.active .prod-content {
        height: auto;
        margin-bottom: 10px;
    }
    
    .accordion .prod-content-container.active .label::before {
        content: '-';
        font-size: 30px;
    }
</style>
{% endblock %}