{% extends "base.html" %}

{% block content %}

<h2 class="squeeze">{{ production.description }}</h2>
<p class="hug">{{ production.season_description }}</p>


{% if notices %}
{% for pn, n, nt in notices %}
<h4 class="squeeze">{{ nt.description }}</h4>
<p class="hug">{{ n.content }}</p>
{% endfor %}
{% endif %}

<hr>

{% if credits %}
<h4>Credits:</h4>
{% endif %}
<ol>
    {% for c in credits %}
    <li><a href="/artist/{{ c.artist_id }}">{{ c.credit_name }}</a>, {{ c.role }}</li>
    {% endfor %}
</ol>

{% endblock %}

{% block sidebar_image %}
{% if poster %}
<img src="{{ url_for('productions.static', filename=poster) }}" id="poster" alt="" srcset="">
{% endif %}
{% endblock %}

{% block aside %}

{% if performances %}
<h4 class="hug">Performances:</h4>
{% endif %}
<ul>
    {% for p in performances %}
    <span>
        <li>{{ p.datetime|format_datetime() }}</li>
    </span>
    {% endfor %}
</ul>

<p>
    Proof of vaccination is required for all Queer Theatre Kalamazoo events. Masks must be worn over the mouth and nose in
    any indoor space. Our actors can present this play unmasked due to these efforts. Thank you for helping keep the
    community safe and performing live again.
</p>

{% endblock %}

