@import "variables"
    
html
    background: url("../background.jpg") no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

body
    // overflow: hidden
    height: 100%
    margin: 0
    padding: 0

aside
    margin: 0
    padding: 20px

    a
        user-select: none

.badge
    padding: 3px 6px
    margin: 0 4px
    border-radius: $fg-corner-radius
    background: $theme-primary
    color: #fff
    font-size: 0.8rem
    user-select: none

    img
        display: inline-block
        vertical-align: middle

header
    background: $bg-dark
    padding: 10px
    height: 30px

    .header
        display: flex
        flex-direction: row
        align-items: center

        span
            color: #fff

.page-title
    display: flex
    justify-content: center
    align-items: center
    background: $theme-primary
    height: $page-title-height
    text-size: 0.65rem
    color: #ffffffb4

.content
    background: $bg-dark
    padding-top: 1rem
    overflow: auto
    color: #f3ecf2
    height: 100%

    .wrapper
        margin: auto
        max-width: 90%

.content-info
    height: 100%
    max-height: calc(100vh - 120px)
    background: #434343
    border-radius: 4px
    padding: 20px

.sidebar
    display: flex
    flex-direction: column
    align-items: center
    background: $bg-dark-blur
    backdrop-filter: blur(15px)
    width: 20rem
    max-height: calc(100vh - 100px)

    a
        margin-top: 1em
        font-size: clamp(1.1em, 2.1vw, 1.3em)

.flex-container_inner
    display: flex
    flex-direction: column
    width: 100%

.wrapper
    margin: auto

.flex-container
    height: calc(100vh - 100px)
    margin: auto
    flex: 1 100%

@media screen and (min-width: 640px)
    .flex-container
        display: flex

@media screen and (max-width: 640px)
    .sidebar
        display: none

@keyframes fade-in
    from
        opacity: 0

    to
        opacity: 1

@keyframes fade-out
    from
        opacity: 1

    to
        opacity: 0

/* Hug the block above you */
.hug
    margin-top: 0

/* Squeeze the block beneath you */
.squeeze
    margin-bottom: 0

#avatar
    background-image: url('../images/avatar.jpg')
    width: 30px
    height: 30px
    background-size: cover
    background-position: center center
    border-radius: 50px

#poster
    // background-image: url('../images/poster.png')
    background-size: contain
    background-position: center center
    height: 100%
    width: 100%
    // max-height: calc(100vh - 120px)
    border-radius: 4px
    margin-bottom: 10px
    // padding: 20px