{% extends "base.html" %}

{% block content %}

<h2 class="squeeze">{{ production.description }}</h2>
<p class="hug">{{ season.description }}</p>


{% if notices %}
{% for pn, n, nt in notices %}
<h4 class="squeeze">{{ nt.description }}</h4>
<p class="hug">{{ n.content }}</p>
{% endfor %}
{% endif %}

{% if credits %}
<h4 class="squeeze">Credits:</h4>
{% endif %}
<ol>
    {% for c in credits %}
    <li>{{ c.credit_name }} as {{ c.role }}</li>
    {% endfor %}
</ol>

{% endblock %}


{% block aside %}

{% if performances %}
<h4 class="squeeze">Performances:</h4>
{% endif %}
<ol>
    {% for p in performances %}
    <span>
        <li>{{ p.datetime }}</li>
    </span>
    {% endfor %}
</ol>

{% endblock %}

